/* AdminLogin.css */
.admin-login-container {
    max-width: 500px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }

  h2{
    border-bottom: 3px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #f0f0f0;
  }
  
  .tab.active {
    background-color: #ccc;
  }
  
  .form-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

button{
  margin: 10px;
  width: 80 px;
}
  